body {
  background: linear-gradient(to bottom right, #54F2F2, #645E9D);
  background-repeat: no-repeat;
  /* border: black solid; */
  padding-left: 100px;
  cursor: './public/if_rocket-fly_46206.png', auto;
}

header {
  position:absolute;
  top: 0px;
  left: 40px;
  width: 100%;
  display: flex;

}

h1 {
  font-family: Lobster;
  text-align: center;
  margin: 0px;
}

input {
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 8px;
  margin-right: 8px;
}

input[type='text'] {
  width: 150px;
}

.app {
  display: flex;
  flex-flow: row;
  /* justify-content: center; */
  margin: auto;
}

.page {
  min-height: 650px;
  max-height: 650px;
  min-width: 1100px;
  max-width: 1100px;
  margin: 50px 0px;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  border: solid 3px lightgrey;
  border-radius: 80px;
  background-color: #87CEFA;
}

.byepage {
  min-height: 650px;
  max-height: 650px;
  min-width: 1100px;
  max-width: 1100px;
  margin: 50px 0px;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  border: solid 3px lightgrey;
  border-radius: 80px;
  background-image: url("./components/public/Certificate.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;

}


.float-left {
  float: left;
}

.float-none {
  float: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.column {
  display: flex;
  flex-flow: column;
}

header .heading {

}

.hidden {
  display: none;
}
