body {
  background: linear-gradient(to bottom right, #54F2F2, #645E9D);
  background-repeat: no-repeat;
  border: black solid;
  padding: 100px;
}

header {
  position:absolute;
  top: 0px;
  left: 40px;
  width: 100%;
  display: flex;
}

h1 {
  font-family: Lobster;
  text-align: center;
}

.page {
  min-height: 750px;
  min-width: 900px;
  margin-top: 150px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  border: solid 3px black;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.column {
  display: flex;
  flex-flow: column;
}
