body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
}

.divvy {
  height: 650px;
  width: 650px;
}

.button {
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  /* margin: 10px 15px; */
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1.5px;
  /* font-size: 0.8em; */
  outline: none;
  position: relative;
  font-size: 15px;
  border: 6px solid #8080ff;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.buttonCorrect {
  background-color: #46ac75;
}

.buttonIncorrect {
  background-color: #ca4354;
}

.button:hover,
.button.hover {
  border-color: #00FFFF;
}

.modal {
  font-size: 25px;
  background-color: #009999;

}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid white;
  font-size: 35px;
  text-align: center;
  padding: 8px;
}
.modal > .content {
  width: 90%;
  padding: 10px 2px;
  text-align: center;

}

.modal > .actions {
  margin: auto;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
