.upArrow {
  transform: rotate(90deg);
  float: left;
  position:absolute;
  top: 0px;
  left: 40px;
}

.downArrow {
  transform: rotate(-90deg);
  float: right;
}

.rightArrow {
  transform: rotate(180deg);
  float: right;
}


.arrow-link {
  margin: none;
  height: 200px;
  width: 220px;
}
