#facts-container {

  border: solid 10px black;
  background-color: #87CEFA;
  padding: 50px;
  height: 650px;

}


h1 {
  font-family: Lobster;
  text-align: center;
  font-size: 80px;
  position: relative;
  bottom: 70px;

}



#fact1 {
  position: relative;
  bottom: 730px;
  left: -30px;
}

#fact {
  position: relative;
  bottom: 730px;
  left: 450px;
}


#fact-alien {

 width: 480px;
 height: 640px;
 padding: 0px;
 position: relative;
 bottom: 250px;
 right: 30px;

}

.upArrow {
  width: 100px;
  height: 150px;
  position: relative;
  bottom: 50px;
}

.downArrow {
  width: 100px;
  height: 150px;
  position: relative;
  top: -700px;
}

#speechbubble{
  padding: 10px;
  border: solid 2px black;
  background-color: white;
  position: relative;
  bottom: 140px;
  border-radius: 20px 20px 20px 3px;
  font-size: 35px;
  font-family: "Roboto", Arial, sans-serif;
}
