#facts-container {

  border: solid 3px black;
  background-color: #87CEFA;
  /* padding: 50px; */
  height: 650px;
  min-width: 1100px;
  max-width: 1100px;
}

#fact {
  max-width: 500px;
  min-width: 500px;
}


#fact-alien {
 width: 450px;
 height: 420px;
 padding: 0px;
}


#fact-speech-bubble {
  display: flex;
  flex-flow:column;
  justify-content: center;
  position: absolute;
  right: 30px;
}
