#facts-container {

  border: solid 3px black;
  background-color: #87CEFA;
  /* padding: 50px; */
  height: 650px;
  min-width: 1100px;
  max-width: 1100px;
}

#fact {
  max-width: 500px;
  min-width: 500px;
}


#fact-alien {

 width: 450px;
 height: 420px;
 padding: 0px;
}

.upArrow {
  width: 100px;
  height: 150px;
  position: relative;
  bottom: 50px;
}

.downArrow {
  width: 100px;
  height: 150px;
  position: relative;
  top: -700px;
}

#fact-speech-bubble {
  position: absolute;
  right: 30px;
}
