#kidz-who-code-title {
  justify-content: center;
}

#site-title {
  font-size: 100px;
}

#intro-speech {
  margin-bottom: 0px;
}

#intro-info {
  /* align-self: center; */
  margin-bottom: 50px;
  width: 470px;
  text-align: center;
}
