.popup {
  background-color: #5cf0f0;
  border: outset darkblue 3px;
  position: absolute;
  top: 30%;
  left: 30%;
  /* padding: 35px; */
  border-radius: 35px;
  min-width: 40%;
  max-width: 40%;
  min-height: 40%;
  max-height: 40%;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 28px;
  font-family: 'Gugi', cursive;
}

#quiz-popup {

}
