.result-message-hidden {
  visibility: hidden;
}

.result-message-visible {
  visibility: visible;
}

#question-result {
  padding: 25px;
  border-radius: 25px;
  margin: none;
  width: 50%;
  top: 45%;
  right: 30%;
  position: absolute;
  font-style: italic;
  font-size: 40px;
  transform: skewY(-25deg);
  color: black;
}
