.speech-bubble{
  border: outset 3px #303336;
  background-color: white;
  border-radius: 150px 150px 150px 3px;
  display: inline-block;
  text-align: center;
  margin: 30px;
}

.speech-bubble p {
  font-size: 28px;
}
